.container{
    display: flex;
    .row{
        .col-4{
            .photo{
                position: absolute;
                top:40%; 
                left:40%;
                width: 600px;
                color: white;
                h4{
                    position: relative;
                }
            }
            img{
                width:100%;
                padding: 10px 15px;
            }
        }
    }
}

